@import url(./sobre.css);
@import url(./principal.css);
@import url(./contato.css);

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
ul
{
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
text-decoration: none;
}